/*mobile*/


@media (min-width:445px) {
    h1 {
        margin-left: 0;
    }
}

@media (min-width:500px) {



    .order--item {
        display: block;
        width: 400px;
        height: 390px;
    }

    .order--image.active {
        position: relative;
        border-radius: 11px;
        height: 260px;
    }

    .float-center {
        position: absolute;
        top: 91%;
        left: 30%;
    }

    #Menu {
        width: 400px;
    }

}

/*tablet*/

@media (min-width:601px) {

    .order--item {
        display: block;
        width: 400px;
        height: 550px;
    }


    .order--image.active {
        height: 397.3px;
    }


    .float-center {
        position: absolute;
        top: 91%;
        left: 30%;
    }


    .information-area {
        padding-top: 1.5em;
    }

    .information-area .title {
        font-size: 1.2em;
        margin-bottom: .5em;
    }

    .information-area .price {
        font-size: 1.2em;
        margin-top: .4em;
    }

    #Menu {
        width: 400px;
    }




}

@media (min-width:700px) {
    #Grid-C {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 55px 55px;
    }

    .order--item {
        display: block;
        width: 300px;
        height: 450px;
    }


    .order--image.active {
        height: 298px;
    }

    .float-center {
        position: absolute;
        top: 91%;
        left: 25%;
    }


    #Menu {
        margin-top: 2em;
    }

    .order--item,
    .order--item.off,
    .card.off {
        display: block;
    }

    .final-bill.active {
        display: block;
        position: absolute;
        top: 20em;
        left: 10em;
        width: 555px;
    }


    .content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1em;
        min-width: auto;
        width: 440px;
    }


    .card--bill-left>img {
        width: 60px;
    }

}

/*tablet to desktop*/

@media (min-width:900px) {
    .order--item {
        display: block;
        width: 400px;
        height: 450px;
    }

    #Menu {
        margin-top: 7em;
    }


    .order--image.active {
        height: 383.5px;
    }

    .float-center {
        position: absolute;
        top: 93%;
        left: 30%;
    }

    .final-bill.active {
        display: block;
        position: absolute;
        top: 20em;
        left: 15em;
        width: 555px;
    }


}

@media (min-width:1280px) {

    h1 {
        font-size: 2.5em;
        top: -2em;
    }

    .container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    #Grid-C {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px 5px;
        max-width: 800px;
        margin-left: -4em;
        top: 9em;
    }


    .order--item {
        height: 400px;
        width: 300px;
        margin-left: 0;
    }

    .information-area {
        padding-top: 2em;
    }

    .order--image.active {
        width: 249px;
        height: 239px;
    }

    .order--item>.order--image img {
        width: 249px;
    }

    .float-center {
        position: absolute;
        top: 87%;
        left: 17%;
    }

    .remove-to-cart .cirlce img,
    .Add-to-cart .cirlce img {
        width: 10px;
        height: 1;
    }

    #Menu {
        position: relative;
        top: -3em;
        left: 6em;
        width: 330px;
        min-height: 260px;
    }

    .final-bill.active {
        top: 15em;
        left: 15em;
    }


}

@media (min-width:1440px) {

    #Grid-C {
        gap: 1px 1px;
        margin-left: -3em;
    }

    .final-bill.active {
        top: 15em;
        left: 20em;
    }


}